body {
  background-image: url("/assets/site/mapblue.jpg");
}

.div_main {
  float: left;
  width: 80%;
}

.aside_main {
  float: left;
  height: 950px;
  width: 20%;
}

.title {
  text-align: center;
}

.searchresult {
  height: 600px;
  position: relative;
}

.searchresult__pic {
  height: 170px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.searchresult__charname {
  float: left;
}

.searchresult__house {
  float: right;
}

.searchresult__bio {
  margin: 20px;
  padding: 25px;
}

.div__pic {
  float: left;
  margin: 15px;
  text-align: center;
}

.searchfield {
  margin: 15px;
  padding: 15px;
}
